body {
    background-color: #f3f4f6;
}

.container {
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    padding: 15px 20px;
    border: 1px solid red;
    cursor: pointer;
}

.dice-container {
    display: none;
}

.dice-container.active {
    display: flex;
    gap: 10px;
}

.dice {
    width: 80px;
    height: 80px;
    background-color: white;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    padding: 5px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    place-self: center;
}